@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body,
#root,
input {
  margin: 0;
  padding: 0;
  background-color: #eaf2f2;
  /* height: 100%; */
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

/* Main Page */
.mainpage__container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: 6rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100vh;
}
.mainpage__header {
  background-color: #e6e6e6;
  grid-area: header;
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}
.mainpage__header a {
  text-decoration: none;
  color: black;
}
.mainpage__main {
  grid-area: main;
}
.mainpage__main--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 6rem;
  left: 0;
}
.mainpage__main--title {
  font-size: 8rem;
  text-align: center;
  color: #384558;
}
.mainpage__main--title p {
  margin: 0;
}
.mainpage__main--title p:last-child {
  font-size: 1.5rem;
  font-weight: 500;
  color: #999;
  margin-bottom: 3rem;
}
.mainpage__main--title span {
  font-weight: bolder;
}
.mainpage__main div input {
  width: 50rem;
  height: 4rem;
  border-style: none;
  background-color: transparent;
  border-bottom: 0.2rem solid #999;
  font-size: 2rem;
}

.mainpage__main div input:focus {
  outline: none;
}

.mainpage__footer {
  background-color: #e6e6e6;
  grid-area: footer;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Todolist */
.todolist__container {
  margin-top: 2rem;
  font-size: 2rem;
}
.todolist {
  background-color: hsl(180, 24%, 86%);
  width: 47rem;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
  height: 2rem;
  /* cursor: pointer; */
}
.todolist__content {
  display: inline-block;
  cursor: pointer;
}
.todolist span:last-child {
  float: right;
}
.todolist span i {
  padding: 0 0.5rem;
}

.fa-trash {
  color: red;
  cursor: pointer;
}
.fa-pen {
  margin-left: 1rem;
  color: hsl(180, 100%, 43%);
  cursor: pointer;
}
.check-style {
  color: hsl(0, 0%, 80%);
  background-color: #eaf2f2;
  text-decoration: overline;
}
